// slider
.slick-slide {
  margin: 0 10px;

  &:first-child {
    margin-left: 0 !important;
  }
}

.slick-list {
  @media screen and (max-width: $tableWidth) {
    margin: 0 !important;
  }
}

.slider {
    max-width: 1300px;
    margin: 0 auto 40px auto;

    @media screen and (max-width: 1300px) {
      width: 91.5%;
    }

    @media screen and (max-width: 1180px) {
      width: 72.5%;
    }

    @media screen and (max-width: $smDesktopWidth) {
      width: 84% !important;
    }
    
    @media screen and (max-width: $tableWidth) {
      max-width: calc(100% - 128px) !important;
    }

    @media screen and (max-width: $phoneWidth) {
      max-width: 200px !important;
    }

    &.instructor {
      max-width: 1095px;
    }

    .slick-prev {
      top: 45%;
      z-index: 1;
      left: -40px;

      @media screen and (max-width: $phoneWidth) {
        left: -40px;
      }

      &:before {
        display: none;
      }

      &.slick-arrow {
        width: 49px;
        height: 49px;
        background-color: $primary-color;
        opacity: 0.9;
        border-radius: 100%;

        &:active {
          background-color: darken($primary-color, 5%);
        }

        &:after {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 49px;
          height: 49px;
          background: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="utf-8"?><svg version="1.1" baseProfile="tiny" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 451.8 451.8" xml:space="preserve"><g><path fill="%23FFFFFF" d="M345.4,248.3L151.2,442.6c-12.4,12.4-32.4,12.4-44.8,0s-12.4-32.4,0-44.7L278.3,226L106.4,54C94,41.6,94,21.6,106.4,9.3c12.4-12.4,32.4-12.4,44.8,0l194.3,194.3c6.2,6.2,9.3,14.3,9.3,22.4C354.7,234,351.6,242.1,345.4,248.3z"/></g></svg>') center no-repeat;
          background-size: 100% 20px;
          transform: rotate(180deg);
        }
      }
    }

    .slick-next {
      top: 45%;
      right: -40px;

      &:before {
        display: none;
      }

      &.slick-arrow {
        width: 49px;
        height: 49px;
        background-color: $primary-color;
        opacity: 0.9;
        border-radius: 100%;

        &:active {
          background-color: darken($primary-color, 5%);
        }

        &:after {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 49px;
          height: 49px;
          background: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="utf-8"?><svg version="1.1" baseProfile="tiny" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 451.8 451.8" xml:space="preserve"><g><path fill="%23FFFFFF" d="M345.4,248.3L151.2,442.6c-12.4,12.4-32.4,12.4-44.8,0s-12.4-32.4,0-44.7L278.3,226L106.4,54C94,41.6,94,21.6,106.4,9.3c12.4-12.4,32.4-12.4,44.8,0l194.3,194.3c6.2,6.2,9.3,14.3,9.3,22.4C354.7,234,351.6,242.1,345.4,248.3z"/></g></svg>') center no-repeat;
          background-size: 100% 20px;
        }
      }
    }
}

.slide {
  @include card-slider;
}