// Fonts here
@font-face {
    font-family: 'OpenSans Light';
    src: url('./fonts/OpenSans-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'GTWalsheimPro';
    src: url("./fonts/GTWalsheimProRegular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'GTWalsheimPro Medium';
    src: url("./fonts/GT-Walsheim-Pro-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal
}
@font-face {
    font-family: 'Roboto Regular';
    src: url("./fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
    font-family: 'Roboto Light';
    src: url("./fonts/Roboto-Light.ttf") format("truetype");
}